/*@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800');*/
html {
  position: relative !important;
  min-height: 100% !important;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px !important;
  background: url("../public/img/mitrais-carrot-bg-pattern.png") #ecf0f5 !important;
  background-position: bottom right !important;
  background-repeat: no-repeat !important;
  font-family: "Verdana", sans-serif !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #e0e4ee;
}

h2 {
  font-size: 1.8rem !important;
}

.mini-card h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.mini-card h4 {
  font-size: 1rem;
  margin-bottom: 5px;
}

/* Custom page CSS
  -------------------------------------------------- */

/* Not required for template or sticky footer method. */

body>.container {
  padding: 0 0 10px 0 !important;
  width: 75%;
  margin: 0 auto;
}

/* .container {
  padding: 48px 80px;
} */

/* @media screen and (min-width: 1281px) {
  .container {
    max-width: 1024px !important;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 768px !important;
  }
} */

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80% !important;
}

.navbar-light {
  border-bottom: 1px solid #d9d9d9;
}

.navbar-brand img,
.user-img {
  max-height: 25px;
}

.right-0 {
  right: 0;
  max-width: 300px;
  left: unset;
}

.nav-link {
  font-size: 0.8rem;
}

.vis-none {
  visibility: hidden;
}

label {
  text-transform: uppercase !important;
  font-weight: bolder !important;
  font-size: 11px !important;
}

.search-box,
.navbar-expand-md .navbar-nav .dropdown-menu {
  box-shadow: 0 -4px 38px hsla(0, 0%, 100%, 0.28),
    0 15px 40px rgba(207, 216, 226, 0.71);
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.soft-shadow {
  box-shadow: 0 -4px 38px hsl(0, 0%, 100%),
    0 15px 40px rgba(255, 255, 255, 0.71);
}

table {
  font-size: 14px !important;
}

table td {
  color: #666 !important;
}

.btn {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px;
  letter-spacing: 1px;
}

.btn-info {
  -webkit-box-shadow: -2px 6px 33px -8px rgba(23, 162, 184, 1);
  -moz-box-shadow: -2px 6px 33px -8px rgba(23, 162, 184, 1);
  box-shadow: -2px 6px 33px -8px rgba(23, 162, 184, 1);
}

.btn-success,
.btn-primary {
  background-color: #4bbc7e;
  border-color: #4bbc7e;
  -webkit-box-shadow: -2px 6px 33px -8px rgba(75, 188, 126, 1);
  -moz-box-shadow: -2px 6px 33px -8px rgba(75, 188, 126, 1);
  box-shadow: -2px 6px 33px -8px rgba(75, 188, 126, 1);
}


.btn-primary:hover,
.btn-primary:focus {
  background-color: #33a968;
  border-color: #33a968;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background-color: #1e7846;
  border-color: #1e7846;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
}

.dashboard-number {
  font-size: 50px;
  padding: 10px;
  display: block;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-weight: lighter;
}

.orange {
  background: #fc4a1a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to to top left, #f7b733, #fc4a1a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to to top left, #f7b733, #fc4a1a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navy-blue {
  background: #4776e6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to to bottom right, #8e54e9, #4776e6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to to bottom right, #8e54e9, #4776e6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box-title {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #777;
}

.box-title-hr {
  border-top: 3px solid #ff5722;
  width: 30px;
  margin-left: 0;
  margin-bottom: 0px;
}

.br-1 {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.no-mb-p p {
  margin-bottom: 0.2rem;
}

.card-img-top {
  object-fit: contain;
  padding: 10px;
  height: 250px;
}

.card {
  border-color: #e9e9e9;
  transition: 0.3s all ease;
}

.card:hover {
  box-shadow: 0 -4px 38px hsla(0, 0%, 100%, 0.28),
    0 15px 40px rgba(207, 216, 226, 0.71);
  transition: 0.3s all ease;
}

.card-body {
  background-color: #f8f8f8;
}

.modal-content {
  /* padding: 1.5rem; */
  padding: 0 !important;
}

.modal-title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.05rem;
  color: #666;
}

.card-title {
  font-size: 13px;
  font-weight: bold;
}

.card-title-orange {
  font-size: 13px;
  font-weight: bold;
  color: #ff5722;
}

.card-body p {
  font-size: 12px;
  color: #ff5722;
  font-weight: bold;
}

.btn-carrot {
  background-color: #ff5722;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #ff5722;
  -webkit-box-shadow: -2px 6px 33px -8px rgba(255, 87, 34, 1);
  -moz-box-shadow: -2px 6px 33px -8px rgba(255, 87, 34, 1);
  box-shadow: -2px 6px 33px -8px rgba(255, 87, 34, 1);
}

.btn-carrot:hover,
.btn-carrot:active {
  background-color: #ff7043;
  transition: 0.3s all ease;
  border-color: #ff7043;
  color: #fff;
}

.btn-carrot:disabled {
  background-color: #d8d8d8;
  border: 1px solid #d8d8d8;
  -webkit-box-shadow: 0px 0px;
  -moz-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  color: #999;
  cursor: not-allowed;
}

.btn-outline-white {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-outline-white:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #333;
}

.text-grey {
  color: #838e9b;
  text-transform: uppercase;
}

.profile-thumb {
  max-height: 80px;
}

.mini-card-profile {
  background: #1FA1CF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #54cfc5, #1FA1CF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #54cfc5, #1FA1CF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 2px 6px 48px 0px rgba(0, 139, 194, 0.29);
  -moz-box-shadow: 2px 6px 48px 0px rgba(0, 139, 194, 0.29);
  box-shadow: 2px 6px 48px 0px rgba(0, 139, 194, 0.29);
}

.mini-card-basket {
  background: #FB4E1B;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #FB4E1B, #F5AB37);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #FB4E1B, #F5AB37);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 2px 6px 48px 0px rgba(255, 210, 171, 1);
  -moz-box-shadow: 2px 6px 48px 0px rgba(255, 210, 171, 1);
  box-shadow: 2px 6px 48px 0px rgba(255, 210, 171, 1);
}

.mini-card-history {
  background: #530BCE;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #530BCE, #1077FB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #530BCE, #1077FB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 2px 6px 48px 0px rgba(173, 210, 255, 1);
  -moz-box-shadow: 2px 6px 48px 0px rgba(173, 210, 255, 1);
  box-shadow: 2px 6px 48px 0px rgba(173, 210, 255, 1);
}

.mini-card-reward {
  background: #5900b9;
  /* Old Browsers */
  background: -webkit-linear-gradient(to bottom right, #5900b9, #3885bd);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #5900b9, #3885bd);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 4px 5px 35px 0px rgba(121, 42, 199, 0.32);
  -moz-box-shadow: 4px 5px 35px 0px rgba(121, 42, 199, 0.32);
  box-shadow: 4px 5px 35px 0px rgba(121, 42, 199, 0.32);
}

.mini-card-shared {
  background: #130765;
  /* Old Browsers */
  background: -webkit-linear-gradient(to bottom right, #130765, #01b1e7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #130765, #01b1e7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 4px 5px 35px 0px rgba(78, 116, 212, 1);
  -moz-box-shadow: 4px 5px 35px 0px rgba(78, 116, 212, 1);
  box-shadow: 4px 5px 35px 0px rgba(78, 116, 212, 1);
}

.mini-card-bazaar {
  background: #02a4d6;
  /* Old Browsers */
  background: -webkit-linear-gradient(to bottom right, #02a4d6, #8000ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #02a4d6, #8000ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 4px 5px 35px 0px rgba(158, 195, 235, 1);
  -moz-box-shadow: 4px 5px 35px 0px rgba(158, 195, 235, 1);
  box-shadow: 4px 5px 35px 0px rgba(158, 195, 235, 1);
}

a:not([href]):not([tabindex]) {
  color: #fff;
  cursor: pointer;
}

.badge-white {
  font-size: 10px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  padding: 5px;
  border: 1px solid #fff;
}

.badge-white:hover {
  border: 1px solid #fff;
  background-color: #fff;
  text-decoration: none;
}

.back-button img {
  max-height: 25px;
  margin: -5px 10px 0 0;
}

.back {
  transition: 0.3s all ease;
}

.back:hover {
  opacity: 0.6;
  transition: 0.3s all ease;
  margin-left: -5px;
}

.radius-5 {
  border-radius: 5px;
}

.carrot-orange {
  color: #ff5722;
  font-size: 18px;
}

.sub-title {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 11px;
}

.dropdown-toggle::after {
  display: none;
}

.notif-icon {
  font-size: 25px;
  color: #888;
}

.notif-active {
  height: 10px;
  width: 10px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  top: 6px;
  left: 18px;
}

.btn-disabled {
  background-color: #d8d8d8;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline;
  color: #999;
  cursor: not-allowed;
  font-size: 12px;
}

.dropdown-menu {
  width: 400px;
}

.dropdown-item {
  white-space: pre-line;
  text-overflow: ellipsis;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px;
  font-size: 14px;
}

.dropdown-item:last-child {
  border-bottom: 0;
}

.table th,
.table thead th,
.table td {
  vertical-align: middle;
}

.action-box {
  background: #f9f9f9;
  border-radius: 0px 0px 5px 5px;
  align-content: center;
  padding: 0;
  margin: -20px;
  margin-top: 30px;
  /*border-top: 10px solid #ecf0f5;*/
}

.table-bordered td,
.table-bordered th {
  padding: 8px;
}

.admin-tabs .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #ff5722;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  -webkit-box-shadow: -2px 6px 33px -8px rgba(255, 87, 34, 1);
  -moz-box-shadow: -2px 6px 33px -8px rgba(255, 87, 34, 1);
  box-shadow: -2px 6px 33px -8px rgba(255, 87, 34, 1);
  margin-right: 10px;
}

.admin-tabs a.nav-link {
  color: #888;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
  margin-right: 10px;
}

.table-image {
  max-width: 60px;
}

.priority-table {
  width: 10%;
}

.checkbox-table {
  max-width: 15px;
  opacity: 0.5;
  margin-top: -5px;
}

.text-gray-dark {
  color: #333 !important;
}

.btn-link:hover {
  background: #f9f9f9;
}

.btn-clear {
  background: none;
  border: none;
  cursor: pointer;
}

.box-title-hr {
  border-top: 3px solid #ff5722;
  opacity: 100%;
  width: 30px;
  margin-left: 0;
  margin-bottom: 0px;
  color: #ff5722;
}

a:hover {
  text-decoration: none;
  color: #333;
}

.rdt_Table {
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
  width: 100%;
  /* overflow-x: auto; */
  -webkit-overflow-scrolling: touch;
}

.rdt_TableCol {
  font-weight: bold;
  font-size: 13px;
}

.rdt_TableBody .rdt_TableRow:nth-child(odd) {
  background-color: #f1f1f1;
}

.rdt_TableBody .rdt_TableRow:nth-child(even):hover {
  background-color: #f1f1f1;
}

.bazaar-item-border .bazaar-2-items:nth-child(odd) {
  border-right: 1px solid rgb(211, 211, 211);
}

ul.roles {
  list-style-type: square;
}

.search-input {
  height: 32px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 0 32px 0 16px;
}

.search-input:hover {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}